//vendor
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

h1{
	text-align: center;
}
.container{
	margin: 0 auto;
	padding: 0;
	width: 385px;
}
.url-options{
	margin-bottom: 20px;
}
p{
	text-align: center;
}